
ul{
    /*removes bullet points*/
    list-style: none;
    margin: 0;
    padding:0;
    padding-top: 10px;
    width:100%;
    /*Makes it still readable when scaling down*/
    min-width:100px;
    padding-bottom:5px;
}

body{
    background-color: rgb(38, 41, 43);
    color:white;
    font-family:"Roboto", serif;
    word-wrap: break-word;
}

.nav{
    word-wrap:normal;
    border-left: 15px solid #555555;
    background-color: #aaaaaa;
    color: #ffffff;
    padding:0.4vw;
    text-decoration: none;
    text-align:left;
    margin-bottom:10px;
    /*Sets a minimum size for the navigation while still scaling it with screen size*/
    font-size:calc(16px + 1.2vw);
    height:calc(70px + 1.2vw);
}

ul a{
    /*removes the blue line on links*/
    text-decoration: none;
}

li.selected{
    background-color:#555555;
}

/*makes the buttons change style when hovering over them*/
.hovering:hover{
    background-color:white;
    color:black;
}

.banner{
    overflow:hidden;
    width:80vw;
    max-height:350px;
    position:relative;
    padding: 10px;
    margin-left:2vw;
    border-radius: 20px;
}
/* just some general styles for things */
hr{
    border-width: 10px;
}

h1{
    font-size:50px
}

p{
    font-size:20px;
}

img{
    border-radius:2px;
    position:relative;
}