/* changing map and text margins to make them scale a little nicer (nightamre to get right) */
@media screen and (max-width: 800px) {
    .main{
        margin-left:5%;
        margin-right:5%;
    }
    .map{
        overflow:auto;
        margin-left:10%;
    }
}

@media screen and (min-width: 800px){
    .main{
        margin-left:20%;
    }

    .map{
        overflow:auto;
        margin-left:20%;
    }
    
}

@media screen and (min-width: 1920px){
    .map{
        overflow:auto;
        margin-left:20%;
        width:40%;
        
    }
}