ul{
    list-style: none;
    margin: 0;
    padding:0;
    padding-top: 10px;
    width:100%;
    min-width:100px;
}

.nav{
    width:100%;
    font-family:"Roboto", serif;
    border-left: 15px solid #555555;
    background-color: #aaaaaa;
    display:block;
    color: #ffffff;
    padding:13%;
    text-decoration: none;
    text-align:left;
    margin-bottom:10px;
    max-height:75px;
}

.hovering:hover{
    background-color:white;
    color:black;
}

.banner{
    overflow:hidden;
    width:80vw;
    max-height:350px;
    position:relative;
    padding: 10px;
    margin-left:2vw;
}

li.selected{
    background-color:#555555;
}

hr{
    border-width: 10px;
}

.map{
    border: 1px solid black;
    overflow:auto;
}