ul{
    list-style: none;
    margin: 0;
    padding:0;
    padding-top: 10px;
    width:auto;
    height: auto;
    max-width:200px;
    min-width:100px;
}

.nav{
    font-family:"Roboto", serif;
    border-left: 15px solid #555555;
    background-color: #aaaaaa;
    display:block;
    color: #ffffff;
    padding:13%;
    text-decoration: none;
    text-align:left;
    height:75px;
    margin-bottom:10px;
}

.hovering:hover{
    background-color:white;
    color:black;
}

.banner{
    overflow:hidden;
    width:80vw;
    max-height:265px;
    position:absolute;
    padding: 10px;
    margin-left:-1.5vw;
}

li.selected{
    background-color:#555555;
}

hr{
    border-width: 10px;
}