ul{
    list-style: none;
    margin: 0;
    padding:0;
    padding-top: 10px;
    width:100%;
    min-width:100px;
}

body{
    background-color: rgb(38, 41, 43);
    color:white;
    font-family:"Roboto", serif;
    word-wrap: break-word;
}

.nav{
    width:100%;
    border-left: 15px solid #555555;
    background-color: #aaaaaa;
    display:block;
    color: #ffffff;
    padding:13%;
    text-decoration: none;
    text-align:left;
    margin-bottom:10px;
    max-height:75px;
}

li.selected{
    background-color:#555555;
}

.navtext{
    color:white;
    text-decoration: none;
}

.hovering:hover{
    background-color:white;
    color:black;
}

.banner{
    overflow:hidden;
    width:80vw;
    max-height:350px;
    position:relative;
    padding: 10px;
    margin-left:2vw;
}

hr{
    border-width: 10px;
}

.body-left{
    padding-left:20%;
}

.body-right{
   padding-right:20%;
}
